ion-app._gmaps_cdv_ .nav-decor {
    background-color: transparent !important;
}

page-home {
    #map_generale {
        height: 90%;
    }
    h1,
    span {
        text-align: center;
        color: navy;
    }
    span {
        display: block;
    }
}