page-eventlist {
    .entry {
        font-size: 14px;
        a {
            color: #000000;
            &:hover {
                color: #488aff;
            }
            span {
                display: block;
            }
        }
    }
}